{% extends 'base.html' %} {% block content %}
<div id="tweets">
  Loading...
</div>

<script>
  const tweets = document.getElementById("tweets");
  const xhr = new XMLHttpRequest();
  const method = "GET";
  const url = "/tweets";
  const responseType = "json";

  const hitLike = (tweetId, likesCount) => {
    console.log(tweetId, likesCount);
  };

  const likeButton = (tweet) => `
    <btn class="btn btn-primary" onclick="hitLike(${tweet.id}, ${tweet.likes})">
      ${tweet.likes} Likes
    </btn>
  `;

  const getFormattedText = (tweet) => {
    formattedText = `
            <div class="mb-4 tweet" id="tweet-${tweet.id}">
               <p> ${tweet.content}</p>
               ${likeButton(tweet)}
            </div>
        `;
    return formattedText;
  };

  xhr.responseType = responseType;
  xhr.open(method, url);
  xhr.onload = () => {
    const serverResponse = xhr.response;
    let responseList = serverResponse.response;
    var tweetsText = "";
    responseList.forEach((response) => {
      tweetsText += getFormattedText(response);
    });
    tweets.innerHTML = tweetsText;
  };
  xhr.send();
</script>
{% endblock %}
