{% extends 'base.html' %} {% block content %}
<div id="tweets">
  Loading...
</div>

<script>
  const tweets = document.getElementById("tweets");
  const xhr = new XMLHttpRequest();
  const method = "GET";
  const url = "/tweets";
  const responseType = "json";

  let getFormattedText = (resp) => {
    formattedText = `
            <div class="mb-4 tweet" id="tweet-${resp.id}">
               <p> ${resp.content}</p>
            </div>
        `;
    return formattedText;
  };

  xhr.responseType = responseType;
  xhr.open(method, url);
  xhr.onload = () => {
    const serverResponse = xhr.response;
    let responseList = serverResponse.response;
    var tweetsText = "";
    responseList.forEach((response) => {
      tweetsText += getFormattedText(response);
    });
    tweets.innerHTML = tweetsText;
  };
  xhr.send();
</script>
{% endblock %}
